*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: #181a23; 
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    list-style: none;
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}
nav ul li a:hover{
    color: #f5634b;
    
}
nav .gymfit > a{
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    
}
nav .gymfit > a span{
    font-size: 36px;
    color:  #f5634b;
    padding: 0;
}
nav .gymfit_right > i{
    font-size: 28px;
    color: #f5634b;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    
}


nav .gymfit_right > a{
    font-size: 28px;
    color:  #f5634b;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
}
@media screen and (min-width:320px) and (max-width:480px) {
   
    nav{
     
        padding: 10px 0px;
       
        /* color: transparent; */
    }
    nav .gymfit_right > i{
      display: none;
    }
    
    
    nav .gymfit_right > a{
       display: none;
    }
    nav .gymfit > a{
        display: none;
        
    }
    nav .gymfit > a span{
        display: none;
    }
    nav ul li{
    
        padding: 0px;
    
        
    }
    nav ul li a{
     
        font-size: 9px;
       
    }

}
 /* --------------------------------------------------------------------------------------- one */
 .pageone{
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
 .page_bottom{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../photo/bg-image-2-1.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)  */
 }
 .page_bottom h1{
    font-size: 56px;
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
 }
 .page_bottom .pagehomeall {
    display: flex;
    padding-left: 44%;
    padding-top: 160px;
    padding-bottom: 20px;
 }
 .pagehome {
    width: 100px;
    height: 30px;
    border-right: 2px solid #fff;
    padding: 5px 5px;
    
 }
 .pagehome a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
 }
  .pageabout{
    width: 150px;
    height: 30px;
    padding: 5px 5px;
    
 }
.pageabout a{
    text-decoration: none;
    color: #f5634b;
    font-size: 24px;
}

 /* --------------------------------------------------------------------------------------- one mediascreen */
 @media screen and (min-width:320px) and (max-width:480px) {
   
    .page_bottom h1{
        font-size: 36px;
      
     }
     .page_bottom .pagehomeall {
        padding-left: 14%;
        padding-top: 80px;
       
     }
     .pagehome a {
        font-size: 20px;
     }
     .pageabout a{
        
        font-size: 20px;
    }
    

}


 /* --------------------------------------------------------------------------------------- two */
 .pagetwo{
    display: flex;
 }
 .pagetwoleft{
    /* background-color: aqua; */
    width: 50%;
    height: 60vh;
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    padding-left: 100px;
 }
 .pagetwoleft div{
    display: flex;
    align-items: right;
    justify-content: right;
    align-content: right;
 }
 .pagetwoleft .imgtwo img{
    margin-left: 15px;
    margin-top: 15px;
 } 
 .pagetworight{
    /* background-color: rgb(0, 255, 72); */
    width: 50%;
    height: 60vh;
    /* display: flex; */
    margin-right: 100px;
    margin-top: 100px;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 20px;
 }
 .pagetworight h1{
    font-size: 48px;
    line-height: 38px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    padding-top: 50px;
    color: #6c757d!important;
    
 }
 .pagetworight p{
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
}
.pagetworight h2{
    font-size: 38px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    color: #232323;
    letter-spacing: .5px;
    padding-top: 20px;
    
}
    
 .pagetworight button{
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 18px 35px;
    text-transform: uppercase;
    border-radius: 0;
    /* font-weight: 700; */
    transition: all 0.5s ease;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    margin-top: 40px;
    /* color: #fff; */
}
.pagetworight button a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}
.pagetworight a span{
    font-size: 14px;
    padding: 0px 10px;
}
.pagetworight button:hover{
    background: linear-gradient(90deg, #fe9418 0%,#f5634b 100%);
    transform: translatey(-10px );
}
 /* --------------------------------------------------------------------------------------- two mediascreen */
 @media screen and (min-width:320px) and (max-width:480px) {
   
    .pagetwo{
        height: auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: auto;
     }
     .pagetwoleft{
        /* background-color: aqua; */
       width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-top: auto;
        padding-left: 10px;
     }
     .pagetwoleft .imgtwo img{
        margin-left: 0px;
        margin-top: 0px;
     } 
     .pagetworight{
        /* background-color: rgb(0, 255, 72); */
       width: 100%;
       height: auto;
       margin-top: 700px;
        /* display: flex; */
        /* margin-top: 165vh; */
        padding-top: auto;
        padding-right: 0px;
        padding-left: 10px;
        

        
     }
     .pagetworight h1{
        font-size: 38px;
        line-height: 28px;
        padding-left: 30px;
        width: 100%;
     }
     .pagetworight p{
        width: 100%;
        padding-left: 30px;
    }
    .pagetworight h2{
        font-size: 25px;
        padding-left: 30px;
        width: 100%;
        
    }
    .pagetworight button{
        margin-left: 30px;
    }
    

}
/* --------------------------------------------------------------------------------------- three */
.pagethree{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.pagethreetop{
    text-align: center;
    padding-top: 150px;

}
 .pagethreetop h1{
    font-size: 38px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    color: #232323;
    letter-spacing: .5px;
    position: relative;
    /* padding: 10px; */
}
.pagethreetop h1::before{
    width: 45px;
    height: 4px;
    content: '';
    background-image: linear-gradient(90deg, #fe9418 0%,#f5634b 100%);
    position: absolute;
    top:-20px;
    left: 48%;
}

.pagethree .sixboxall{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 150px;
    position: relative;
    
}


.pagethree .sixbox{
   padding: 20px;
   width: 400px;
   height: 300px;
   /* border: 2px solid #fff; */
   /* border-radius: 10px; */
   /* display: flex; */
   margin: 20px;
   align-items: center;
   text-align: center;
   background-color: #181a23;
   font-family: "Montserrat", sans-serif;
    /* top: 50%;  */
   /* left: 50%; */
   /* transform: translate(0%, -50%);  */
   position: relative; 
}
.sixboxall .sixbox h1{
    padding-top: 50px;
    text-align: center;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    color: #fff;
}
.sixboxall .sixbox p{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
    
}
.sixboxall .sixbox span{
    font-size: 56px;
    color: #f5634b !important;

}

.sixbox::after{
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(90deg, #fe9418 0%,#f5634b 100%);
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    /* margin-left: 500px;
    margin-top: 40px; */
    /* top: 0px; */
    z-index: -5;
    transform: scaleY(0);
    transition: transform 2s;
    transform-origin: top;
    border-radius: 10px;
}

.sixbox:nth-child(2) {
    background-color: #fff;
    
}
.sixbox:nth-child(2) p{
    color: #181a23;
    
}
.sixbox:nth-child(2) h1{
    color: #181a23;
    
}
.sixboxall .sixbox:nth-child(2):hover span{
    color: #f5634b !important;
    /* font-size: 100px; */
}
.sixboxall .sixbox:nth-child(2):hover h1{
    color: #fff!important;
    /* font-size: 100px; */
}
.sixboxall .sixbox:nth-child(2):hover p{
    color: #fff!important;
    /* font-size: 100px; */
}
.sixboxall .sixbox:nth-child(2):hover::after{
    /* transform: scaleX(1); */
    transform: scaleY(1);
    
    /* height: 500px; */
}
.sixboxall .sixbox:nth-child(2):hover::after{
    /* transform: scaleX(1); */
    transform: scaleY(1);
    
    /* height: 500px; */
}

.sixbox:nth-child(4) {
    background-color: #fff;
    
}
.sixbox:nth-child(4) p{
    color: #181a23;
    
}
.sixbox:nth-child(4) h1{
    color: #181a23;
    
}
.sixboxall .sixbox:nth-child(4):hover span{
    color: #f5634b !important;
    /* font-size: 100px; */
}
.sixboxall .sixbox:nth-child(4):hover h1{
    color: #fff!important;
    /* font-size: 100px; */
}
.sixboxall .sixbox:nth-child(4):hover p{
    color: #fff!important;
    /* font-size: 100px; */
}
.sixboxall .sixbox:nth-child(4):hover::after{
    /* transform: scaleX(1); */
    transform: scaleY(1);
    
    /* height: 500px; */
}
.sixboxall .sixbox:nth-child(4):hover::after{
    /* transform: scaleX(1); */
    transform: scaleY(1);
    
    /* height: 500px; */
}

.sixbox:nth-child(6) {
    background-color: #fff;
    
}
.sixbox:nth-child(6) p{
    color: #181a23;
    
}
.sixbox:nth-child(6) h1{
    color: #181a23;
    
}
.sixboxall .sixbox:nth-child(6):hover span{
    color: #f5634b !important;
    /* font-size: 100px; */
}
.sixboxall .sixbox:nth-child(6):hover h1{
    color: #fff!important;
    /* font-size: 100px; */
}
.sixboxall .sixbox:nth-child(6):hover p{
    color: #fff!important;
    /* font-size: 100px; */
}
.sixboxall .sixbox:nth-child(6):hover::after{
    /* transform: scaleX(1); */
    transform: scaleY(1);
    
    /* height: 500px; */
}
.sixboxall .sixbox:nth-child(6):hover::after{
    /* transform: scaleX(1); */
    transform: scaleY(1);
    
    /* height: 500px; */
}

.sixbox:hover{
    background-color: #181a23;
}

 /* --------------------------------------------------------------------------------------- three mediascreen */
 @media screen and (min-width:320px) and (max-width:480px) {
   
    .pagethreetop{
        padding-top: auto;
    
    }
    .pagethreetop h1{
        font-size: 28px;
        
        /* padding: 10px; */
    }
    .pagethreetop h1::before{
     
        top:-20px;
        left: 38%;
    }
    .pagethree .sixboxall{
        width: 100%;
        padding: 0px ;
        
        
    }
    

}
/* --------------------------------------------------------------------------------------- four */

 /* .six{
    background-color: aqua; 
}  */


.fourtop{
    text-align: center;
    padding: 80px;

}
 .fourtop h1{
    font-size: 38px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    color: #232323;
    letter-spacing: .5px;
    position: relative;
    /* padding: 10px; */
}
.fourtop h1::before{
    width: 45px;
    height: 4px;
    content: '';
    background-image: linear-gradient(90deg, #fe9418 0%,#f5634b 100%);
    position: absolute;
    top:-20px;
    left: 48%;
}
.fourtop p{
    color: #666;
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
    
}
.fourallimage{
    display: flex;
    flex-wrap: wrap;
}
 .fourallimage div{
    width: 405px;
    height: 300px;
    border: none;
    background-size:100%;
} 
.fourallimage div img{
    width: 100%;
    height: 100%;
}
 /* --------------------------------------------------------------------------------------- four mediascreen */
 @media screen and (min-width:320px) and (max-width:480px) {
    .fourtop h1{
        font-size: 28px;
       
    }
    .fourtop h1::before{
        
        left: 38%;
    }
   
    

}
/* --------------------------------------------------------------------------------------- five */
footer{
    margin-top: 50px;
    background-color: #181a23;
    height: 70vh;
    padding: 80px;
}
.nineall{
    display: flex;
    justify-content: space-around;
    color: #fff;

}
.nineone, .ninetwo , .ninethree , .ninefour{
    width: 350px;
    height: 300px;
    padding: 20px;
    /* border: 2px solid #fff; */
}
.nineone h1{
    font-size: 38px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 10px;
}
.nineone p ,.ninetwo p , .ninefour h1 ,.ninetwo h2,.ninefour p{
    /* padding:20px 200px 20px 0px; */
    color: #fff;
    opacity: .8;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    text-decoration: none;
}

.ninetwo h1 , .ninethree h1 , .ninefour h1{
    font-size: 30px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 10px;
}
.ninethree ul  li span{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 10px;

}
.ninetwo p  a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1;
}
.ninethree ul  li  a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1;
    
}
.ninethree ul  li{
    text-decoration: none;
    list-style: none;
}
.ninefour p  {
    /* padding:20px 200px 20px 0px; */
    color: #fff;
    opacity: .8;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}
.ninefive{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding:0px 30px;
}
.ninefive h3{
    font-size: 20px;
    color: #fff;
    padding-top: 10px;
}
.ninefive h3 a {
    font-size: 20px;
    color: #fe9418;
    padding-top: 10px;
    text-decoration: none;
}
.ninefive .ninetheme i{
    font-size: 20px;
    padding: 10px;
    color: #fff;
}
/* --------------------------------------------------------------------------------------- five mediascreen */
@media screen and (min-width:320px) and (max-width:480px) {
    footer{
        margin-top: 50px;
        background-color: #181a23;
        height: auto;
        padding: 10px;
    }
    .nineall{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
    }
    .ninefive{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
         height: 120px;
         margin-top: 0px;
       
     }
 

}

