
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: #181a23; 
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    list-style: none;
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}
nav ul li a:hover{
    color: #f5634b;
    
}
nav .gymfit > a{
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    
}
nav .gymfit > a span{
    font-size: 36px;
    color:  #f5634b;
    padding: 0;
}
nav .gymfit_right > i{
    font-size: 28px;
    color: #f5634b;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    
}


nav .gymfit_right > a{
    font-size: 28px;
    color:  #f5634b;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
}


@media screen and (min-width:320px) and (max-width:480px) {
   
    nav{
        width: 100%;
        padding: 10px 0px;
       
        /* color: transparent; */
    }
    nav .gymfit_right > i{
      display: none;
    }
    
    
    nav .gymfit_right > a{
       display: none;
    }
    nav .gymfit > a{
        display: none;
        
    }
    nav .gymfit > a span{
        display: none;
    }
    nav ul li{
    
        padding: 0px;
    
        
    }
    nav ul li a{
     
        font-size: 9px;
       
    }

}


 /* --------------------------------------------------------------------------------------- one */
 .pageone{
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
 .page_bottom{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../photo/bg-image-2-1.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)  */
 }
 .page_bottom h1{
    font-size: 56px;
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
 }
 .page_bottom .pagehomeall {
    display: flex;
    padding-left: 43%;
    padding-top: 160px;
    padding-bottom: 20px;
 }
 .pagehome {
    width: 100px;
    height: 30px;
    border-right: 2px solid #fff;
    padding: 5px 5px;
    
 }
 .pagehome a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
 }
  .pageabout{
    width: 150px;
    height: 30px;
    padding: 5px 5px;
    
 }
.pageabout a{
    text-decoration: none;
    color: #f5634b;
    font-size: 24px;
}

 /* --------------------------------------------------------------------------------------- one mediascreen */
 @media screen and (min-width:320px) and (max-width:480px) {
   
    .page_bottom h1{
        font-size: 36px;
      
     }
     .page_bottom .pagehomeall {
        padding-left: 14%;
        padding-top: 80px;
       
     }
     .pagehome a {
        font-size: 20px;
     }
     .pageabout a{
        
        font-size: 20px;
    }
    

}
/* --------------------------------------------------------------------------------------- two */


.fivetop{
    text-align: center;
    padding: 80px;

}
 .fivetop h1{
    font-size: 38px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    color: #232323;
    letter-spacing: .5px;
    position: relative;
    /* padding: 10px; */
}
.fivetop h1::before{
    width: 45px;
    height: 4px;
    content: '';
    background-image: linear-gradient(90deg, #fe9418 0%,#f5634b 100%);
    position: absolute;
    top:-20px;
    left: 48%;
}
.fivetop p{
    color: #666;
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
    
}
/* --------------------------------------------------------------------------------------- two mediascreen */
@media screen and (min-width:320px) and (max-width:480px) {
   
    .fivetop{
        text-align: center;
        padding-top: 50px;
    
    }
     .fivetop h1{
        font-size: 28px;
       
    }
    .fivetop h1::before{
       
        left: 38%;
    }
    .fivetop p{
        color: #666;
        font-family: "Montserrat", sans-serif;
        padding-top: 20px;
        margin-left: 10px;
        margin-right: 0;
        font-size: 16px;
        
    }
}

/* --------------------------------------------------------------------------------------- three */

.input{
    padding-left: 25%;
}


.input input{
    display: block;
    width: 400px;
    height: 50px;
    margin: 20px 10px;
    outline:#f5634b;
}
.input  .subject{
    width: 820px;
    height: 50px;
    
}
.input .textarea{
    width: 820px;
    height: 200px;
    margin: 10px 10px;
    outline: #f5634b;
}
::placeholder{
    font-size: 20px;
padding: 20px;
}

.location,.email,.call{
    display: flex;
}
.input .name_email{
    display: flex;
    
}

 button{
    /* text-align: center;
    align-content: center;
    justify-content: center; */
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 18px 35px;
    text-transform: uppercase;
    border-radius: 0;
    width: 250px;
    /* font-weight: 700; */
    transition: all 0.5s ease;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    margin-top: 30px;
    margin-left: 700px;
    margin-bottom: 30px;
    /* color: #fff; */
}

 button a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

 button:hover{
    background: linear-gradient(90deg, #fe9418 0%,#f5634b 100%);
    transform: translatey(-10px );

}
@media screen and (min-width:320px) and (max-width:480px) {
    .input{
        padding-left: 0;
    }
    .input input{
        width: 130px;
        height: 40px;
        margin: 10px 10px;
    
    }
    
    .input .textarea{
        width: 95%;
        height: 200px;
        margin: 10px 10px;
        outline: #f5634b;
    }
    ::placeholder{
        font-size: 15px;
    padding: 20px;
    }
    button{
       
        width: 150px;
        margin-left: 90px;
       
    }

}

/* --------------------------------------------------------------------------------------- three mediascreen */

 /* --------------------------------------------------------------------------------------- map */
 
 /* ---------------------------------------------------------------------------------------  page5 */
 /* two threebox */
.two{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    
}
.two .threebox{
   padding: 20px;
   width: 400px;
   height: 250px;
   border: 2px solid #fff;
   /* display: flex; */
   margin: 20px;
   align-items: center;
   text-align: center;
   background-color: #fff;
   font-family: "Montserrat", sans-serif;
    /* top: 50%;  */
   /* left: 50%; */
   transform: translate(0%, -60%); 
   position: relative; 
}
.two .threebox h1{
    padding-top: 10px;
    text-align: center;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
    
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.two .threebox p{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #232323;

    
}
.two .threebox span{

    font-size: 66px;
    line-height: 66px;
    color: #f5634b;

    
}

.two .threebox .num{
    opacity: 0.1;
    font-size: 130px;
    display: block;
    line-height: 120px;
    position: absolute;
    top: 10px;
    text-align: center!important;
    transform: translate(70%, 0%); 
}


 /* --------------------------------------------------------------------------------------- two mediascreen */
 @media screen and (min-width:320px) and (max-width:480px) {
   
    .two{
        flex-direction: column;
    }
    .two .threebox{
        padding: 20px;
        width: 100%;
        transform: translate(0%, 0%); 
        position: relative; 
        /* display: flex; */
        margin: 0px;
       
     }
     .two .threebox .num{
        transform: translate(50%, 0%); 
        }
}
/* --------------------------------------------------------------------------------------- nine */
footer{
    margin-top: 0px;
    background-color: #181a23;
    height: 70vh;
    padding: 80px;
}
.nineall{
    display: flex;
    justify-content: space-around;
    color: #fff;

}
.nineone, .ninetwo , .ninethree , .ninefour{
    width: 350px;
    height: 300px;
    padding: 20px;
    /* border: 2px solid #fff; */
}
.nineone h1{
    font-size: 38px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 10px;
}
.nineone p ,.ninetwo p , .ninefour h1 ,.ninetwo h2,.ninefour p{
    /* padding:20px 200px 20px 0px; */
    color: #fff;
    opacity: .8;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    text-decoration: none;
}

.ninetwo h1 , .ninethree h1 , .ninefour h1{
    font-size: 30px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 10px;
}
.ninethree ul  li span{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 10px;

}
.ninetwo p  a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1;
}
.ninethree ul  li  a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1;
    
}
.ninethree ul  li{
    text-decoration: none;
    list-style: none;
}
.ninefour p  {
    /* padding:20px 200px 20px 0px; */
    color: #fff;
    opacity: .8;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}
.ninefive{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding:0px 30px;
}
.ninefive h3{
    font-size: 20px;
    color: #fff;
    padding-top: 10px;
}
.ninefive h3 a {
    font-size: 20px;
    color: #fe9418;
    padding-top: 10px;
    text-decoration: none;
}
.ninefive .ninetheme i{
    font-size: 20px;
    padding: 10px;
    color: #fff;
}

/* --------------------------------------------------------------------------------------- nine mediascreen */
@media screen and (min-width:320px) and (max-width:480px) {
    footer{
        margin-top: 20px;
        background-color: #181a23;
        height: auto;
        padding: 10px;
    }
    .nineall{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
    }
    .ninefive{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
         height: 120px;
     
       
     }
 

}




